@model IEnumerable<FollowPeers.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            UserName
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            ThumbnailUrl
        </th>
        <th>
            PhotoUrl
        </th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
        <th>
            Description
        </th>
        <th>
            Location
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThumbnailUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserProfileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserProfileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserProfileId })
        </td>
    </tr>
}

</table>
