@model IEnumerable<FollowPeers.Models.PublicationModel>
@using FollowPeers.Models;
@using WebMatrix.Data;
@{
    ViewBag.Title = "My Publication";
    FollowPeers.Models.FollowPeersDBEntities followPeersDB = new FollowPeers.Models.FollowPeersDBEntities();
    string name = Membership.GetUser().UserName;
    ViewBag.UserName = name;
    FollowPeers.Models.UserProfile myprofile = followPeersDB.UserProfiles.First(p => p.UserName == name);
}

@Html.Partial("_Header")
<div class="container">
    <div class="box">
        <div class="span12"> 
		    <ul class="pager">
			    <li class="previous">
				    <a href="#" style="margin-right: 10px">Previous</a>
				</li>
				<li>
				    <div class="span3">
		    	        <div class="thumbnail">
                            <img src="../../Content/images/Pub1.png" alt=""/>
                            <div class="caption">
                                <h6>Social Entreprenurship Study</h6>
                                    <p>By Shruti Nayak</p>
                                    <i class="icon-star icon-color"></i>
                                    <i class="icon-star icon-color"></i>
                                    <i class="icon-star icon-color"></i>
                                    <i class="icon-star icon-color"></i>
                                    <i class="icon-star icon-color"></i>
                            </div>
          		        </div>
          		    </div>
                </li>
                <li >
				    <div class="span3" >
          		        <div class="thumbnail">
                            <img src="../../Content/images/Pub2.png" alt=""/>
                            <div class="caption">
                                <h6>The Principles of Parliamentary Rep</h6>
                                <p>By Aaron Ektar</p>
                                <i class="icon-star icon-color"></i>
                                <i class="icon-star icon-color"></i>
                            </div>
          		        </div>
                    </div>
				 </li>
                 <li>
				    <div class="span3">
		    	        <div class="thumbnail">
                            <img src="../../Content/images/Pub3.png" alt=""/>
                            <div class="caption">
                                <h6>Human geneology</h6>
                                <p>By Arnold Schwatzneiger</p>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
          		        </div>
          		    </div>
				  </li>
                  <li class="next">
				    <a href="#" style="margin-left: -10px; padding-left: 20px; padding-right: 20px">Next</a>
				  </li>
                </ul>
         </div>
     </div>
            
            <div class="span8">
            <br/>    
                <ul class="nav nav-tabs">               
                    <li id="li_tab1" onclick="tab('tab1')"><a>Uploads</a></li>
                    <li id="li_tab2" onclick="tab('tab2')"><a>Discussions</a></li>
                    <li id="li_tab3" onclick="tab('tab3')"><a>Liked</a></li>
                    <li id="li_tab4" onclick="tab('tab4')"><a>Peer Recommendations</a></li>
                </ul>
                <div id="Content_Area" class="tab-content">
                    <div id="tab2" style="display: none;" class="tab-pane" >
                        <p>This is the text for tab 2.</p>
                    </div>
                    <div id="tab3" style="display: none;" class="tab-pane" >
                        <p>You havent like any recommendations</p>
                    </div>
                    <div id="tab4" style="display: none;" class="tab-pane" >
                        <p>This is the text for tab 4.</p>
                    </div>
                    <div id="tab1" style="display: none;" class="tab-pane" >
                       @Script("jquery.validate.min.js")
        @Script("jquery.validate.unobtrusive.min.js")
        @Script("jquery.bgiframe.js")
        @Script("jquery.mcdropdown.js")
        @Script("jquery-1.7.1.min.js")
        @{
            if (Model.Count() != 0)
            {
               <span class="label label-info">Number of publications uploaded: @Model.Count()</span>
                <div class="pull-right">
				<div class="btn-group">
				  <a class="btn btn-primary" href="Create" ><i class="icon-upload icon-white"></i>Add new</a>
				</div>
			    </div>
                
				<table class="span7">    
                @foreach (var item in Model)
                {
                    <tr><td>
               
                <div style="border-bottom: 1px solid grey; margin: 10px 0px;">
                <div style="float: left;" id="Image">
                    <img class="mouseover" src="../../Content/images/paper_icon_large.jpg" style="margin-left: auto; margin-right: auto;width: 50px;" />
                        
                </div>
                <div style="margin-left: 8px; float: left;">
                    <a href="/PublicationModel/Details/@item.publicationID" id="title"><b>@item.title</b></a> 
                    <div id="Author">Author(s) : @item.author</div>
                    <div id="Year">Year of Publication : @item.year</div>
                    @{if (@item.keyword != null)
                      {<div class="hidden" id="Keyword">Keyword(s) : @item.keyword</div>}}
                    @{if (@item.journal != null)
                      {<div class="hidden" id="Journal">Journal : @item.journal</div>}}
                    @{if (@item.conference != null)
                      {<div class="hidden" id="Conference">Conference : @item.conference</div>}}
                    @{if (@item.university != null)
                      {<div class="hidden" id="University">University : @item.university</div>}}
                </div>
                <div style="float: right; margin-right: 5px; color: #888; font-size: 15px;">@Html.DisplayFor(modelItem => item.type)
                    | @Html.DisplayFor(modelItem => item.status)  |
                    <div style="float:right; font-size: 15px; margin-left: 5px;">
                        @Html.ActionLink("More>>", "Details", new { id = item.publicationID })
                    </div>
                    </div>
            </div>
            <hr /> 
            </td></tr>
   
                }
                </table>
            }
            else
            {
                <span class="label label-info">Number of publications uploaded: @Model.Count()</span>
            <div class="pull-right">
				<div class="btn-group">
				  <a class="btn btn-primary" href="Create" ><i class="icon-upload icon-white"></i>Add new</a>
				</div>
			</div>
            }
      }  
      </div>
               </div>
            </div>  
            <div class="span4" style="position:relative">
					<div class="pull-left">
					<h5>Recent Publications</h5>
							<!--<div class=""><div class="hero-unit"></div></div>-->
							<div class="accordion" id="accordion2">
                            @{var db = Database.Open("FollowPeersDB");
                              foreach (var row in db.Query("Select distinct(Field) from Specializations"))
                              {
                                  <div class="accordion-group">
						          <div class="accordion-heading">
						            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						              @row.Field
						            </a>
						          </div>
						          <div id="collapseOne" class="accordion-body in collapse" style="height: auto; ">
						            <div class="accordion-inner">
						             <div>
                                     @{foreach (var row2 in db.Query("Select * from PublicationModels where specialisation='" + @row.Field + "' ORDER BY timestamp DESC"))
                                       {
                                        <li><a>@row2.Title</a></li>
                                       }
                                       }
						              <a class="pull-right" href="#" style="font-size:10px">View All</a>
                                     </div>
						            </div>
						          </div>
						        </div>
                              }
                              }
       
						    </div>
                        </div>
                </div>
</div>


@Html.Partial("_Footer")
@helper Script(string scriptName)
    {
    <script src="@Url.Content("~/Scripts/" + scriptName)" type="text/javascript"></script>
}
 	    
<script type="text/javascript" language="javascript">
    $('.hidden').hide(function () {
        $('#Keyword').hide();
        $('#Journal').hide();
        $('#Conference').hide();
        $('#University').hide();
    });
     $('.mouseover').mouseover(function () {
       $('#Keyword').slideDown("fast");
       $('#Journal').slideDown("fast");
       $('#Conference').slideDown("fast");
       $('#University').slideDown("fast");
       });
    $('.mouseover').mouseout(function () {
        $('#Keyword').hide();
        $('#Journal').hide();
        $('#Conference').hide();
        $('#University').hide();
    });     
    $('.carousel').carousel({
        interval: 2000
    });
   
    $('#myModal').modal()
    $('#myModal').modal('hide')

    
    
function tab(tab) {
document.getElementById('tab1').style.display = 'none';
document.getElementById('tab2').style.display = 'none';
document.getElementById('tab3').style.display = 'none';
document.getElementById('tab4').style.display = 'none';
document.getElementById('li_tab1').setAttribute("class", "");
document.getElementById('li_tab2').setAttribute("class", "");
document.getElementById('li_tab3').setAttribute("class", "");
document.getElementById('li_tab4').setAttribute("class", "");
document.getElementById(tab).style.display = 'block';
document.getElementById('li_'+tab).setAttribute("class", "active");
}
</script>