@model FollowPeers.Models.Jobs
@using FollowPeers.Models;
@{
    ViewBag.Title = "Job Details";
}
@Html.Partial("_Header")
 @{
     FollowPeers.Models.FollowPeersDBEntities followPeersDB = new FollowPeers.Models.FollowPeersDBEntities();
     string name = Membership.GetUser().UserName;
     ViewBag.UserName = name;
     FollowPeers.Models.UserProfile myprofile = followPeersDB.UserProfiles.First(p => p.UserName == name);
}
<div class="container" id="main">
<div class="row">
@{ if (myprofile.UserProfileId == Model.ownerID)
   {
                    @Html.Partial("_SideBar1")
   }
 }
    <div class="span6">
    <div class="box" style="border: 1px solid #eee; padding-left:5px;">

    </div>
        @Script("jquery.validate.min.js")
        @Script("jquery.validate.unobtrusive.min.js")
        @Script("jquery.bgiframe.js")
        @Script("jquery.mcdropdown.js")
        <link rel="stylesheet" type="text/css" href="../../Content/css/jquery.mcdropdown.css" />
        <link href="../../Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
        <fieldset>
           <div class="display-label">
                ViewCount:</div>
            <div class="display-field">
            </div>
            <div class="display-label">
                Title:</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Title)
            </div>
            
            <div class="display-label">
                Author(s):</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Country)
            </div>
            
            <div class="display-label">
                Type:</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.City)
            </div>
            
            <div class="display-label">
                Owner Name:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ownerID)
            </div>
            
            <div class="display-label">
                Year:</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Company)
            </div>
            <hr />
            <div class="display-label">
                Description:</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Requirements)
            </div>
            <hr />
            <div class="display-label">
                Status:</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Other)
            </div>          
        </fieldset>        
    </div>
     <div class="span3" style=" text-align:left; border-left: 1px solid #eee; padding-left:10px;">
      <input id="JobId" style="display:none" type="text" value="@Model.JobId" >
    @{
        if (Model.ownerID != myprofile.UserProfileId)
        {
   
    <a class="btn btn-warning" style="width:150px;">Apply Now</a> 
    <br />
    <br />
       @Html.ActionLink("Save Job", "Save", new { id = Model.JobId }) 
    <br />             
    <a href="#">Recommend Job</a>
        }
        else
        {
           @Html.ActionLink("Delete Job", "Delete", new { id = Model.JobId })
        <br />
           @Html.ActionLink("Edit Job", "Edit", new { id = Model.JobId })
        }
        }
         </div>
</div>
</div>
@Html.Partial("_Footer")
@helper Script(string scriptName)
    {
    <script src="@Url.Content("~/Scripts/" + scriptName)" type="text/javascript"></script>
}

<script type="text/javascript" language="javascript">
    $("#Save_it").click(function () {
        // Get publication ID
        var id1 = $("#JobId").val();
        // Send Ajax Request
        $.ajax({
            type: "POST",
            url: "/Jobs/Save",
            data: "ID=" + id1,
            success: function () {
                alert('Bookmarked');
                window.history.back(-1);
            }
        });
    });

    $("#unbookmark_it").click(function () {
        // Get publication ID
        var id2 = $("#publicationIdAJAX").val();
        // Send Ajax Request
        $.ajax({
            type: "POST",
            url: "/PublicationModel/DeleteBookmark",
            data: "ID=" + id2,
            success: function () {
                alert('Un-Bookmarked');
                window.history.back(-1);
            }
        });
    });

</script>
